---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: "Collect All The Chickens",
};
---

<Layout {meta}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[]}
      actions={[
        {
          type: "ghost",
          text: 'About Us',
          href: 'https://trophycat.games',
        },
        {
          type: "primary",
          text: 'Support Us',
          href: 'https://www.patreon.com/TrophyCatGames',
        },
        {
          type: "ghost",
          text: 'Follow Us',
          href: 'https://www.youtube.com/@trophycatgames',
        },
      ]}
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Download Soon', href: '', icon: 'tabler:download' }}
    callToAction2={{ text: 'Check out Patreon', href: 'https://www.patreon.com/TrophyCatGames' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'Cock Collector Image Here' }}
  >
    <Fragment slot="title">
      Collect chickens on the go <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Cock Collector</span> is a free mobile game where unlock more chickens to decorate your home.</span>
      <span class="block mb-1 sm:hidden font-bold">Cock Collector coming 2023.</span>
    </Fragment>
  </Hero2>

  <!-- CallToAction Widget *********** -->
</Layout>
